*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Josefin Sans';
    box-sizing: border-box;
}

#icon{
    width: 30px;
    cursor: pointer;
}
nav ul{
    flex: 1;
    text-align: right;
}
:root{
    --primary-color:#fff;
    --secondary-color: #212121;
}
.dark-theme{
    --primary-color: #181818;
    --secondary-color: #ffffff;
}

html{
    scroll-behavior: smooth;
}
body{
    background: var(--primary-color);
    color: var(--primary-color);
}
#header{
    width: 100%;
    height: 110vh;
    color: #212121;
    background-image: url(images/megbackground.gif);
    background-size: cover;
    background-position: center;    
}
.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 250px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #212121;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #5A5A5A;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}


.header-text{
    margin-top: 20%;
    font-size: 60px;
}
.header-text p b{
    margin-top: 20%;
    font-size: 70px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h3{
    font-size: 20px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #8C8C8C;
}
.header-text h3{
    color: #3C3C3C;
}
.date{
    margin-top: 20px;
    font-size: 15px;
    color: #B4B4B4;
}

/*--------------------about--------------------*/
#about{
    padding: 80px 0;
    color: var(--secondary-color);
}
#about span{
    color: #5A5A5A
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-1 p{
    margin-top: 10px;
    text-align: center;
}
.about-col-2{
    flex-basis: 60%;
    line-height: 1.7;
}
.about-col-2 h2{
    padding: 20px 0;
    color: #B4B4B4;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: var(--secondary-color);
}

.tab-titles{
    display: flex;
    margin: 40px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #3C3C3C;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 110%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #2D4346;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/*---------------------projects------------------------*/
#project{
    padding: 50px 0;
    text-align: center;
}
#project span{
    color: #5A5A5A
}
.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.project{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.project img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(255, 255, 255, 0.5), #F4F4F4);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h2{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: var(--primary-color);
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #B4B4B4;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.project:hover img{
    transform: scale(1.1);
}
.project:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #18171D;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #F4F4F4;
    transition: background 0.5s;

}
.btn:hover{
    background: #18171D;
}

/*---------------------fortune teller------------------------*/
#fortune{
    padding: 50px 0;
}
#fortune h1{
    text-align: center;
    background-image: url(images/giphy.gif);
}
#fortune h1 span{
    color: #5A5A5A
}
#fortune p{
    text-align: center;
    margin-top: 20px;
    color: var(--secondary-color);
}
#fortune .response p{
    transition: transform 0.5;
}
#fortune .btn{
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    background-image: url(images/giphy.gif);

}

/*-------------comments-------------*/
#comment{
    padding: 50px 0;
}
#comment span{
    color: var(--secondary-color);
    margin-top: 30px;
}
#comment .sub-title{
    text-align: center;
    margin-bottom: 20px;
}
.comment-box{
    flex-basis: 65%;
}
.comment-pox p{
    margin-top: 30px;
}

.btn.btn2{
    display: inline-block;
    background: var(--secondary-color);
}
.contact-right form{
    width: 100%;
}
form input,form textarea{
    width: 100%;
    border: 1.1px solid #B4B4B4;
    outline: none;
    background: #B4B4B4;
    padding: 15px;
    margin: 15px 0;
    color: var(--secondary-color);
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.comment-container{
    width: 100%;
    border: 0;
    outline: none;
    background: #B4B4B4;
    padding: 15px;
    margin: 15px 0;
    color: var(--secondary-color);
    font-size: 18px;
    border-radius: 6px;
}
.comment-box.textbox{
    outline: none;
}
.comment-box p{
    width: 100%;
    text-align: left;
    margin-top: 15px;
    color: #5A5A5A;
}
/*-------------comments-------------*/

.add-btn {
	width: 80px;
    font-size: 15px;
    color: white;
}


.hr{
	color:var(--secondary-color);
	width:600px;
}

.comment-header {
	display:flex;width:50%;justify-content:space-between;
}

.comment-input-row {
	display:flex;margin-top:20px;margin-bottom:10px;
}


/*-------------comments-------------*/


.cset_comments{
    margin-top: 40px;
}


.csetcomment{
    border: 1px solid #8C8C8C;
    border-bottom: 3px solid #3C3C3C;
    border-radius: 5px;
    text-align: left;
    padding: 20px;
    margin-bottom: 12px;
}


.cset_meta{
    display: grid;
    grid-template-columns: 1fr 40px;
    align-items: center;
}

.cset_meta_date_author{
    font-size: 0.85rem;
}
.cset_meta_author{
    margin-left: 22px;
    font-weight: bold;
}

.cset_vote{
    text-align: right;
}
.cset_vote_options{
    display: grid;
    grid-auto-columns: 1fr;
}

.cset_upvote,
.cset_downvote{
    cursor: pointer;
}

.comment-box .author,
.likes {
    color: #777;
    font-weight: bold;
    font-size: 14px;
}
.comment-box .author {
    margin-top: 10px;
}

.comment-box .likes {
    margin-bottom: 10px;
}

.comment-box .reply-box {
    margin-top: 10px;
}

.comment-box input {
    padding: 5px 10px;
    margin-right: 5px;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: #777;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
        rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
}




/*-------------footer-------------*/
.copyright {
    background-color: #18171D;
    height: 120px;
    width: 100%;
    width: expression(document.body.clientWidth <= 1200? "1200px": "auto");
    min-width: 600px;
  }
  
  footer .copyright .left {
    height: 70px;
    width: 300px;
    padding-top: 25px;
    margin-left: 10%;
  }
  
  footer .copyright .left img {
    float: left;
    height: 100%;
  }
  
  footer .copyright .left p {
    display: flexbox;
    color: #fff;
    font-size: 16px;
    font-family: 'Poppins', 'Josefin Sans';
    font-weight: 600;
    height: 30px;
    line-height: 60px;
  }
  
  footer .copyright .left p span {
    color: #B4B4B4;
  }
  



/*-------------css for mobile-------------*/ 
nav .fa-solid{
    display: none;
}

@media only screen and (max-width: 600px){
    #header{
        background-image: url(images/pmegbackground.gif);
    }
    .header-text{
        margin-top: 140%;
        font-size: 16px;
    }   
    .header-text h1{
        font-size: 30px;
    } 
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #5A5A5A;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
        text-align: center;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
}
#msg{
    color: #18171D;
    margin-top: -40px;
    display: block;
}